div.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
div.App-main {
  padding: 75px 15px;
  overflow-y: auto;
  background: #E8EAF6;
}

div.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #9E9E9E;
}